/* 
Frontal Lobe – decision-making, planning, motor control
purple

Parietal Lobe – touch, spatial awareness, proprioception
orange

Occipital Lobe – visual processing
green

Temporal Lobe – hearing, language processing, memory
blue
 */

 /* units:
 Excitatory – send activating signals
 red

 Inhibitory – regulate and balance activity
 yellow
 
 A fading memory effect
 opacity
 
 A memory retrieval effect
 :hover
 */


.memory-core {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    width: min(90vw, 250px);
    height: 250px;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 50%;
    background: conic-gradient(rgb(143, 120, 214), rgb(233, 159, 95), rgb(116, 236, 116), rgb(61, 182, 223), rgb(143, 120, 214));
    transition: all 3s ease;
}

.memory-core:hover {
    box-shadow: 3px 2px 10px rebeccapurple;
}

.unit-4:hover, .unit-14:hover, .unit-24:hover, .unit-34:hover {
    animation: memoryAnimation 1s steps(40, start) infinite;
}

.memory-unit {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    animation: memoryAnimation 1s steps(40, start) infinite;
}

@keyframes memoryAnimation {
    to {
    visibility: hidden;
  }
}

/* ----------------------- */


@keyframes signals-common {
    0%, 20%, 50%, 55%, 75%, 100% {
        background-color: rgb(255, 255, 0);
    }
    30% {
        background-color: red;
    }
    62% {
        background-color: blue;
    }
}

.unit-9, .unit-19, .unit-23, .unit-29, .unit-35 {
    animation: memoryAnimation 1s steps(40, start) infinite, signals-common 10s infinite;
}

.unit-3, .unit-10, .unit-17, .unit-25, .unit-32 {
    animation: memoryAnimation 1s steps(40, start) infinite, signals-common 7s infinite;
}

.unit-5, .unit-12, .unit-16, .unit-29, .unit-26 {
    animation: memoryAnimation 1s steps(40, start) infinite, signals-common 13s infinite;
}

/* ---------------------------------------- */


@keyframes memories {
    0%, 20%, 50%, 55%, 75%, 100% {
        background-color: rgb(255, 255, 0);
    }
    30% {
        background-color: blue;
    }
    62% {
        background-color: red;
    }
}

.unit-6, .unit-11, .unit-18, .unit-21, .unit-30 {
    animation: memoryAnimation 1s steps(40, start) infinite, memories 10s infinite;
}

.unit-7, .unit-13, .unit-15, .unit-20, .unit-27 {
    animation: memoryAnimation 1s steps(40, start) infinite, memories 7s infinite;
}

.unit-2, .unit-8, .unit-22, .unit-28, .unit-33 {
    animation: memoryAnimation 1s steps(40, start) infinite, memories 13s infinite;
}


/* ---------------------------- */


@keyframes fading-memory{
    0%, 31%, 50%, 65%, 100% {
        opacity: 1;
    }
    20%, 27%, 29%, 30% {
        background-color: #ccc;
        opacity: 0.5;
    }
    24%, 45%, 54% {
        opacity: 0;
    }
}

.unit-4, .unit-14, .unit-24, .unit-34 {
    animation: memoryAnimation 1s steps(40, start) infinite, fading-memory 10s infinite;
}



/* To bottom */
.unit-2::before, .unit-5::after{
    position: absolute;
    content: "";
    right: 2.5px;
    top: 5px;
    width: 0.1px;
    height: 37px;
    background-color: black;
}


/* To up */
.unit-32::before, .unit-35::after{
    position: absolute;
    content: "";
    right: 2.5px;
    bottom: 5px;
    width: 0.1px;
    height: 37px;
    background-color: black;
}


/* conn down right */
.unit-2::after, .unit-3::after, .unit-4::after, .unit-7::after, .unit-8::after, .unit-9::after, .unit-10::after, .unit-11::after, .unit-13::after{
    position: absolute;
    content: "";
    left: -3.5px;
    top: 23.3px;
    width: 53.8px;
    height: 0.1px;
    transform: rotate(45.5deg);
    background-color: black;
}


/* Conn down left */
.unit-3::before, .unit-4::before, .unit-5::before, .unit-8::before, .unit-9::before, .unit-10::before, .unit-11::before, .unit-12::before, .unit-17::after, .unit-18::after{
    position: absolute;
    content: "";
    right: 23.5px;
    top: -3.8px;
    width: 0.1px;
    height: 54.2px;
    transform: rotate(44.5deg);
    background-color: black;
}


/* Conn up right */
.unit-19::after, .unit-20::before, .unit-21::after, .unit-25::after, .unit-26::after, .unit-27::after, .unit-28::after, .unit-29::after, .unit-32::after, .unit-33::after, .unit-34::after{
    position: absolute;
    content: "";
    left: 23.3px;
    bottom: -3.6px;
    width: 0.1px;
    height: 54px;
    transform: rotate(44.5deg);
    background-color: black;
}


/* To right */
.unit-7::before, .unit-25::before{
    position: absolute;
    content: "";
    left: 5px;
    top: 2.5px;
    width: 37px;
    height: 0.1px;
    background-color: black;
}


/* To left */
.unit-12::after, .unit-30::after{
    position: absolute;
    content: "";
    right: 5px;
    top: 2.5px;
    width: 36.5px;
    height: 0.1px;
    background-color: black;
}


/* Conn up left */
.unit-21::before, .unit-22::after, .unit-23::after, .unit-24::after, .unit-26::before, .unit-27::before, .unit-28::before, .unit-29::before, .unit-30::before, .unit-33::before, .unit-34::before, .unit-35::before{
    position: absolute;
    content: "";
    right: -3.5px;
    top: -18.5px;
    width: 53.8px;
    height: 0.1px;
    transform: rotate(45.5deg);
    background-color: black;
}